body {
  background: url('./images/bg.jpg');
  font-family: Helvetica;
}
#bowling-score {
  align-items: stretch;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}
.scoreboard {
  display: flex;
  width: 100%;
  background: rgba(255,255,255,0.8);
  min-width: 960px;
  height: 5rem;
}
.frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #000;
}
.frame__rolls, .frame__points {
  height: 50%;
}
.frame__points {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame__rolls {
  display: flex;
}
.frame__first-roll, .frame__second-roll {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame__first-roll {}
.frame__second-roll {
  border: 1px solid #000;
  border-top: none;
  margin-right: -1px;
  align-items: center;

}
.frame--additionalRolls .frame__second-roll {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.frame--additionalRolls .frame__second-roll div {
  width: 50%;
  text-align: center;
}
.scoreboard__score {
  min-width: 10%;
}
button {
  padding: 0.5rem;
  font-size: 2rem;
}
